@import "../../../utils/styles/variables.scss";

.Paragraph {
  color: $black;
  max-width: 400px;
  flex-basis: 100%;
}

.isInvert {
  color: $white;
}

.isCredit {
  max-width: unset;
  margin: 100px 0 0 0;
}
