@import "../../../utils/styles/variables.scss";
@import "../../../utils/styles/breakpoints.scss";

.Section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 24px;
}

.isInvert {
  background-color: $black;
}

.hasYPadding {
  padding-top: 64px;
  padding-bottom: 64px;
}

.hasTopMargin {
  margin-top: 124px;
}

.isSmall {
  @include small {
    max-width: 75%;
  }
}
