@import "../../../utils/styles/variables.scss";
@import "../../../utils/styles/breakpoints.scss";

.Card {
  display: inline-flex;
  flex-basis: 100%;
  position: relative;
  margin: 0 32px 32px 0;
  border: 3px solid black;
  box-shadow: 0.6rem 0.6rem 0 $black;
  height: 300px;

  transition: all 0.3s;

  @include small {
    flex-basis: 45%;
  }

  @include medium {
    flex-basis: 30%;
  }

  img {
    transition: all 0.3s;
  }

  &:hover {
    transform: translate(0.6rem, 0.6rem);
    box-shadow: none;
    background-position: 0 0;

    img {
      transform: scale(1.2);
    }
  }
}

.Overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $yellow;
  font-weight: bold;
  font-size: 1.5rem;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  cursor: pointer;
  background: linear-gradient(to right, $overlay 50%, $yellow 0%);
  background-repeat: repeat;
  background-size: 200%;
  background-position: 100% 0;
  opacity: 0;

  transition: all 0.3s;

  &:hover {
    background-position: 0 0;
    opacity: 1;
  }
}
