@import "../../../utils/styles/variables.scss";

.Button {
  display: flex;
  align-items: center;
  margin: 24px 24px 24px 0;
  height: 50px;
  padding: 16px 32px;
  font-size: 15px;
  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid $black;
  background-color: $black;
  color: $white;
  transition: all 0.3s ease;

  &:hover {
    background-color: $yellow;
    border-color: $yellow;
    color: $black;
  }
}

.isInvert {
  background-color: $white;
  color: $black;

  &:hover {
    background-color: $black;
    color: $white;
  }
}
