@import "../../../utils/styles/variables.scss";

.Title {
  flex-basis: 100%;
  color: $black;
  margin-bottom: 32px;
}

.isInvert {
  color: $white;
}

.isUnderlined {
  background-color: $yellow;
  height: 4px;
  margin: 8px 0 0;
  width: 50px;
}

.isHighlighted {
  position: relative;

  &:before {
    content: " ";
    display: block;
    height: 90%;
    width: 230px;
    z-index: -1;
    margin-left: -3px;
    margin-right: -3px;
    position: absolute;
    background: $yellow;
    transform: rotate(2deg);
    top: -1px;
    left: -1px;
    border-radius: 20% 25% 20% 24%;
    padding: 10px 3px 3px 10px;
  }
}
