@import "../../../utils/styles/variables.scss";

.Title {
  color: $black;
  margin-bottom: 12px;
}

.isInvert {
  color: $white;
}

.isUnderlined {
  background-color: $yellow;
  height: 4px;
  margin: 0;
  width: 50px;
  margin-bottom: 32px;
}
