@import "../../../utils/styles/variables.scss";

.Title {
  flex-basis: 100%;
  color: $black;
  margin-bottom: 32px;
}

.isInvert {
  color: $white;
}

.isUnderlined {
  background-color: $yellow;
  height: 4px;
  margin: 8px 0 0;
  width: 50px;
}
