@import "../../utils/styles/variables.scss";

.Section {
  margin: 124px 0;
  padding: 0 24px;
}

.isInvert {
  background-color: $black;
}

.asYPadding {
  padding-top: 64px;
  padding-bottom: 64px;
}
