@import "../../../utils/styles/variables.scss";
@import "../../../utils/styles/mixins.scss";

.LanguageSwitch {
  width: 150px;
  height: 40px;
  font-size: 1.2rem;
  margin: auto;
  border: 3px solid $black;
  color: $black;
  cursor: pointer;

  @include retro-shadow-init($isInvert: true);

  &:hover {
    color: $white;
    border: none;

    @include retro-shadow-hover;
  }
}
