@import "../../../utils/styles/variables.scss";

.Social {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 3px solid $black;
  border-radius: 12px;
  padding: 10px;
  width: fit-content;
  margin-right: 24px;
  cursor: pointer;
  box-shadow: 0.6rem 0.6rem 0 $black;

  transition: all 0.3s;

  &:hover {
    transform: translate(0.6rem, 0.6rem);
    box-shadow: none;
  }

  * {
    margin: 0;
  }
}
