@import "../../../utils/styles/variables.scss";
@import "../../../utils/styles/mixins.scss";

.Social {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 3px solid $black;
  border-radius: 12px;
  padding: 10px;
  width: fit-content;
  margin-right: 24px;
  cursor: pointer;

  @include retro-shadow-init-simple;

  &:hover {
    @include retro-shadow-hover;
  }

  * {
    margin: 0;
  }
}
