@import url(https://fonts.googleapis.com/css?family=Bangers);

@import "../utils/styles/variables.scss";

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Bangers";
  letter-spacing: 2px;
  scroll-behavior: smooth;

  &.isBurgerOpen {
    overflow: hidden;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  line-height: 4rem;
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 20px;
  text-shadow: 4px 4px 0px lightgray, 6px 6px 0px $black;
}

h2 {
  font-size: 1.6rem;
  letter-spacing: 1px;
  font-weight: normal;
}

h3 {
  font-weight: normal;
}

p {
  font-size: 1em;
  margin-top: 16px;
  margin-bottom: 32px;
}

::selection {
  background: $yellow;
  color: $black;
}
